<h1>Users Profile</h1>

<div class="row">
	<div class="col-sm-6">
		<div class="well">
			<p>
				<strong>username</strong>: <%= user.local.username %><br>
				<strong>email</strong>: <%= user.local.email %><br>
			</p>
		</div>
	</div>
</div>

<form action="./sharedetails" method="post">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

  <div class="form-group">
    <label>Friends id</label>
    <br><%= user._id %><br>
    <input type="hidden" name="id" value="<%= user._id %>" >
  </div>

  <button type="submit" class="btn btn-warning btn-lg">Share my info</button>
</form>
