<link rel="stylesheet" href="/stylesheets/profile.css">
<div class="page-header text-center">
	<h1><span>P</span>
  <span>r</span>
  <span>o</span>
  <span>f</span>
  <span>i</span>
  <span>l</span>
  <span>e</span>
  </h1>
</div>
<% if (messages.error) { %>
  <div class="alert alert-danger"><%= messages.error %></div>
<% } else if (messages.success) { %>
  <div class="alert alert-success"><%= messages.success %></div>
<% } %>
<div class="well">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#info" data-toggle="tab">Profile</a></li>
      <li><a href="#editinfo" data-toggle="tab">Edit Account</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="info">
        <div id="tab">
          <div class="row">
            <div class="col-sm-6">

        			<img src="/profile/img" class="avatar">

              	<div class="changePic">
                  <form method="POST" action="/profile/upload-photo?_csrf=<%= csrfToken %>" enctype="multipart/form-data">
            				<div class="form-group">
            					<div class="form-inline">
            						<input type="file" name="fileToUpload" class="form-control">
                        <button type="submit" class="btn btn-info btn-md custom-btn"><span class="glyphicon glyphicon-upload"></span> Upload</button>

            					</div>
            				</div>
            			</form>

            	</div>
            </div>
            <div class="col-sm-6">
              <p id="displayUsername"><strong>username</strong>: <%= user.local.username %></p>
              <p id="displayEmail"><strong>email</strong>: <%= user.local.email %><br></p>

            </div>
          </div>

        </div>
      </div>
      <div class="tab-pane fade" id="editinfo">
    	<div id="tab2">

        <!-- <form method="POST" action="/profile/update-username">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="form-group">
            <label>Update Username</label>
            <div class="form-inline">
              <input type="text" class="form-control" name="username" required>
              <button type="submit" class="btn btn-info btn-lg custom-btn"><span class="glyphicon glyphicon-save"></span> Save</button>
            </div>
          </div>
        </form> -->

        <form method="POST" action="/profile/update-email">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="form-group">
            <label>Update Email</label>
            <div class="form-inline">
              <input type="email" id="inputform" class="form-control" name="email" required><br>
              <button type="submit" class="btn btn-info btn-md custom-btn"><span class="glyphicon glyphicon-floppy-saved"></span> Update Email</button>
            </div>
          </div>
        </form>

        <form method="POST" action="/profile/update-password">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="form-group">
            <label>Reset Password</label>
            <div class="form-inline">
              <input type="password" id="inputform" class="form-control" name="currentPassword" placeholder="Current Password" required><br>
              <input type="password" id="inputform" class="form-control" name="newPassword" placeholder="New Password" required><br>
              <input type="password" id="inputform" class="form-control" name="confirmPassword" placeholder="Confirm New Password" required><br>
              <button type="submit" class="btn btn-info btn-md custom-btn"><span class="glyphicon glyphicon-floppy-saved"></span> Update Password</button>
            </div>
          </div>
        </form>

    	</div>
      </div>

  </div>
